@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared styles */
.display-flex{
  display: flex;
}

.text-gray{
  color: #474742;
}

.text-light-gray{
  color: #727272;
}

.bg-light{
  background-color: rgba(223, 149, 10, 0.566);
}

.btn-primary{
  padding: 20px;
  background-color: orange;
  border-radius: 10px;
  font-size: 1.25rem;
  font-weight: 600;
  color: white;
  border: 0;
}
/* header styles */


/* navbar related styles */
.navbar{  
  justify-content: space-between;
  align-items: center;
}

.brand{
  font-weight: 700;
  font-size: 3rem;
}

.nav-item{
  list-style: none;
  margin-right: 30px;
}

.nav-link{
  text-decoration: none;
  font-weight: 500;
}

.navbar, .banner{
  max-width: 1440px; /*motamuti ekta size nicche, chaile change kora jabe*/
  /* banner and navbar ke same size e rakhte eder 2 jon er max-width same rakhlam -> very important !!!!!!!!!!!! */
  margin: 0 auto;
}

/* banner related styles */
.banner-content{
  /* motamuti size nicche, changeable */
  max-width: 850px;
  /*full div take center korte*/
  margin: 0 auto;
  /* text gulake left to right na rekhe center e rakhte */
  text-align: center;
  margin-bottom: 50px; /*figma onujayi*/
}

.banner-title{
  font-weight: 700;
  font-size: 4em;
}

.banner-img{
  width: 100%;
}

@media screen and (max-width: 576px) {
  .navbar, .nav-links{
    flex-direction: column;
  }
}